%html
	%head
		%link{:rel => "stylesheet", :href => "css/main.css"}
	.nav
	%body
	.wrapper
		.contentnav this holds navigation bar for content
		.maincontent this is the main content for the site
	%footer